body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: Tahoma, Geneva, Verdana;*/
	background-color: black;
	padding: 0;
	margin: 0;
	font-weight: 300;
}

#page {
	margin: 0;
	width: 20cm;
	height: 27.9cm;
	background-color: white;
	color: #403D3A;
	position: absolute;
	left: 50%;
	margin-left: -10.5cm;
	text-align:justify;
	/*padding-top: 20px;*/
	padding: 0.2cm 0.5cm;
}

#content {
	float: left;
}

a {
	color: rgb(75,172,198);
}

.no-justify {
	text-align: left;
}

#name {
	font-size: 24pt;
	font-weight: 700;
	color: rgb(33,88,104);
	float: left;
	margin: 28px 26px;
}

#details {
	font-size: 8pt;
	float: left;
	padding: 5px;
	margin: 0 1cm;
	list-style: none;
}

#details li {
	padding: 2px;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	line-height: 16px;
}

#phone {
	background-image: url(../img/phone_2.png);
	-webkit-print-color-adjust:exact;

}

#address {
	background-image: url(../img/home.png);
	-webkit-print-color-adjust:exact;
}

#mail {
	background-image: url(../img/mail.png);
	-webkit-print-color-adjust:exact;

}

#info {
	background-image: url(../img/user_silhouette.png);
	-webkit-print-color-adjust:exact;
}

#website {
	background-image: url(../img/url.png);
	-webkit-print-color-adjust:exact;	
}

#photo {
	position: absolute;
	top: 0.45cm;
	right: 0.5cm;
}

#photo img {
	width: 2cm;
	height: 2.5cm;
	border-radius: 5px;
}

#title {
	/*	background-color: #063540; /* rgb(33,88,104); */
	width: 100%;
	float: left;
}

#title span {
	font-size: 10pt;
	font-style: italic;
	margin-left: 20px;
}

#title span:before {
	content: url(../img/quote_open.png);
}

#title span:after {
	content: url(../img/quote_close.png);
}

#title h1 {
	float: right;
	color: white;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	font-size: 16pt;
	font-weight: normal;
	width: 520px;
	height: 50px;
	padding-left: 35px;
	padding-top: 18px;
	font-variant: small-caps;
	margin-bottom: 0px;
	-webkit-print-color-adjust:exact;
}

.one-third {
	float: left;
	/*width: 9cm;*/
	width: 23%;
}

.two-third {
	float: left;
	/*width: 9cm;*/
	width: 67%;
}

.left-col {
	float: left;
	/*width: 9cm;*/
	width: 43%;
}

.right-col {
	/*width: 12cm;*/
	width: 57%;
	float: right;
}

section {
	border: thin dotted rgb(33,88,104);
	margin: 0.2cm;
	margin-top: 0.5cm;
	position: relative;
	/*text-align: justify;*/
	padding-right: 12px;
	font-size: 0.9em;
	float: left;
}

section h2 {
	/*background-color: rgb(33,88,104);
	border: thin solid #DAEEF3;*/
	color: white;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: -15px 0px 0px -5px;
	padding: 5px;
	font-size: 12pt;
	font-variant: small-caps;
	font-weight: normal;
	background-color: rgba(33,88,104,1);
	background: -moz-linear-gradient(left,  rgba(33,88,104,1) 0%, rgba(33,88,104,1) 1%, rgba(87,128,141,1) 25%, rgba(255,255,255,0) 99%);
	background: -webkit-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: -o-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: -ms-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: linear-gradient(to right,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	-webkit-print-color-adjust:exact;
}

section ul {
	list-style: none;
}

#hobbies ul {
	list-style-image: url(../img/like.png);
	list-style-position: inside;
	padding: 0;
	margin: 5px;
}

#projects ul {
	list-style-image: url(../img/2.png);
}

#languages_skills ul {
	list-style-image: url(../img/1.png);
}

/*#left-col section h3 {
	font-size: 11pt;
}
*/
section h3 {
	font-size: 12pt;
	font-weight: normal;
	margin: 7px 0 5px 0;
	text-align: left;
}

#education h3 {
	font-size: 11pt;
}

#education h4 {
	text-align: left;
	font-weight: normal;
	font-size: 10pt;
	margin: 0;
	margin-left: 20px;
	position: relative;
}
#education h4:before {
	background-image: url(../img/diploma.png);
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	display: block;
	left: -25px;
	background-size: 20px 20px;
	top: 5px;
}

section .righter {
	float: right;
	text-align: right;
	font-size: 7pt;
	/*top: -2px;*/
	position: relative;
	max-width: 85px;
}

section p {
	font-size: 8pt;
	margin: 5px 0;
}

/*section ul .date:first-child {
	top:40px;
	width: 40px;
	margin-left:10px;
}
*/
section ul .date {
	position: absolute;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	left: -4px;
	width: 32px;
	text-align: center;
	background-color: #403D3A;
	color: white;
	padding: 0px 5px 1px 6px;
	-webkit-print-color-adjust: exact;
}

#education ul .date:not(:first-child):after {
	content: ">";
	position: absolute;
	color: #403D3A;
	top: 0px;
	right: -27px;
}

#education ul .date.y_2005 {
	top: 83%;
}
#education ul .date.y_2008 {
	top: 59%;
}
#education ul .date.y_2009 {
	top: 36%;
}
#education ul .date.y_2010 {
	top: 13%;
}

#working_experience ul .date:not(:first-child):after {
	content: ">";
	position: absolute;
	color: #403D3A;
	top: 0px;
	right: -12px;
}

#working_experience ul .date.y_2008 {
	top: 83%;
}
#working_experience ul .date.y_2012 {
	top: 61%;
}
#working_experience ul .date.y_2013 {
	top: 38%;
}
#working_experience ul .date.y_now {
	top: 16%;
}

#working_experience ul li.half {
	width: 45%;
	display: inline-block;
}

#working_experience ul li.half.left {
	margin-right: 2%;
}
#working_experience ul li.half.right {
	padding-left: 2%;
	border-left: thin dotted rgb(33,88,104);;
}

#working_experience ul li.half h3 {
	margin-top: 0;
}

/*section ul .date:last-child {
	bottom:40px;
}*/

#languages_skills {
	font-size: 11pt;
}

#social {
	position: absolute;
	margin: 20px 20px;
	opacity: 0.5;
}

#social-content {
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

#social ul {
	list-style: none;
	margin: 5px;
	padding: 0;
}

#social ul li.inline {
	display: inline;
}

#social img.social {
	margin: 2px;
}

#social img.social:hover {
	-webkit-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
}

#working_experience ul {
	list-style: square;
	padding-left: 33px;
}
#working_experience ul li {
	min-height: 65px;
}

#working_experience ul ul {
	list-style: none;
	padding-left: 12px;
}

#working_experience ul ul li:before{ content:"-"; position:relative; left:-5px;}
#working_experience ul ul li{ text-indent:-5px; }

#working_experience ul ul li {
	min-height: 0 ;
}

#working_experience .inline-date {
background-color: #403D3A;
color: white;
padding: 0px 5px 1px 6px;
width: 170px;
font-size: 0.9em;
left: 0;
text-align: center;
float: right;
height: 18px;
}
/*#working_experience .inline-date {
	background-color: #403D3A;
	color: white;
	padding: 0px 5px 1px 6px;
	width: 49px;
	border-radius: 5px;
	font-size: 0.7em;
	-webkit-transform: rotate(-90deg);
	position: absolute;
	left: 0;
	text-align: center;
	margin-top: 19px;
}
*/
#working_experience p {
font-size: 10pt;
}

#languages_skills ul {
	font-size: 0.8em;
}