body {
	font-family: Tahoma, Geneva, Verdana;
	background-color: black;
	padding: 0;
	margin: 0;
}

#page {
	margin: 0;
	width: 20cm;
	height: 29.7cm;
	background-color: white;
	color: #403D3A;
	position: absolute;
	left: 50%;
	margin-left: -10.5cm;
	/*text-align:justify;*/
	/*padding-top: 20px;*/
	padding: 0.2cm 0.5cm;
}

a {
	color: rgb(75,172,198);
}

#name {
	font-size: 24pt;
	color: rgb(33,88,104);
	padding: 5px;
	float: left;
	margin: 10px;
}

#details {
	font-size: 8pt;
	float: left;
	padding: 5px;
	margin: 0 1cm;
	list-style: none;
}

#details li {
	padding: 2px;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	line-height: 16px;
}

#phone {
	background-image: url('../img/phone_2.png');
	-webkit-print-color-adjust:exact;

}

#address {
	background-image: url('../img/home.png');
	-webkit-print-color-adjust:exact;
}

#mail {
	background-image: url('../img/mail.png');
	-webkit-print-color-adjust:exact;

}

#info {
	background-image: url('../img/user_silhouette.png');
	-webkit-print-color-adjust:exact;
}

#photo {
	position: absolute;
	top: 0.2cm;
	right: 0.7cm;
}

#photo img {
	width: 2cm;
	height: 2.5cm;
	border-radius: 5px;
}

#title {
	/*	background-color: #063540; /* rgb(33,88,104); */
	width: 100%;
	float: left;
}

#title span {
	font-size: 10pt;
	font-style: italic;
	margin-left: 20px;
}

#title span:before {
	content: url('../img/quote_open.png');
}

#title span:after {
	content: url('../img/quote_close.png');
}

#title h1 {
	float: right;
	color: white;
	background-image: url('../img/banner.png');
	background-repeat: no-repeat;
	font-size: 16pt;
	font-weight: normal;
	width: 520px;
	height: 50px;
	padding-left: 35px;
	padding-top: 18px;
	font-variant: small-caps;
	margin-bottom: 0px;
	-webkit-print-color-adjust:exact;
}

#left-col {
	float: left;
	/*width: 9cm;*/
	width: 43%;
}

#right-col {
	/*width: 12cm;*/
	width: 57%;
	float: right;
}

section {
	border: thin dotted rgb(33,88,104);
	margin: 0.2cm;
	margin-top: 0.8cm;
	position:relative;
	text-align: justify;
	padding-right:5px;
	font-size: 0.9em;
}

section h2 {
	/*background-color: rgb(33,88,104);
	border: thin solid #DAEEF3;*/
	color: white;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: -15px 0px 0px -5px;
	padding: 5px;
	font-size: 12pt;
	font-variant: small-caps;
	font-weight: normal;
	background: -moz-linear-gradient(left,  rgba(33,88,104,1) 0%, rgba(33,88,104,1) 1%, rgba(87,128,141,1) 25%, rgba(255,255,255,0) 99%);
	background: -webkit-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: -o-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: -ms-linear-gradient(left,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	background: linear-gradient(to right,  rgba(33,88,104,1) 0%,rgba(33,88,104,1) 1%,rgba(87,128,141,1) 25%,rgba(255,255,255,0) 99%);
	-webkit-print-color-adjust:exact;
}

section ul {
	list-style: none;
}

#hobbies ul {
	list-style-image: url('../img/like.png');
	list-style-position: inside;
	padding: 0;
	margin: 5px;
}

#projects ul {
	list-style-image: url('../img/2.png');
}

#languages_skills ul {
	list-style-image: url('../img/1.png');
}

section h3 {
	font-size: 12pt;
	font-weight: normal;
	margin: 13px 0;
}

section h3 .smaller {
	font-size: 7pt;
}

section p {
	font-size: 8pt;
	margin: 5px 0;
}

section .dates {
	writing-mode: tb-rl;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	white-space: nowrap;
	/*	text-shadow: 0px 0px 1px #333; */
	left: -30px;
	font-size: 8pt;
	position: relative;
	display: none;
}

section .dates-full {
	writing-mode: tb-rl;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	white-space: nowrap;
	font-size: 10pt;
	position: absolute;
	left: 0.2cm;
}

#educ-dates {
	top: 14cm;
}

#working-dates {
	top: 9.5cm;
	width: 9cm;
}

#working-dates span {
	margin: 0px 4px;
}

#educ-dates span {
	margin: 0px 20px;
}

.dates-full span {
	background-color: #403D3A;
	color: white;
	padding: 0px 5px 1px 6px;
	-webkit-print-color-adjust:exact;
}

section .dates span {
	background-color: #403D3A;
	color: white;
	padding: 2px;
	-webkit-print-color-adjust:exact;
}

#languages_skills {
	font-size: 8pt;
}


#social {
	position: absolute;
	margin: 20px 20px;
	opacity: 0.5;
}

#social-content {
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

#social ul {
	list-style: none;
	margin: 5px;
	padding: 0;
}

#social ul li.inline {
	display: inline;
}

#social img.social {
	margin: 2px;
}

#social img.social:hover {
	-webkit-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.3);
}